# Ignore virtual environment directories
venv/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db
